Importing the Libraries

In [3]:
import yfinance as yf
import pandas as pd

Choosing the assets

In [4]:
tickerSymbols = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'BRK-A', 'JPM',
    'JNJ', 'V', 'PG', 'TSLA', 'UNH', 'INTC', 'VZ', 'HD',
    'DIS', 'KO', 'MRK', 'PFE', 'WMT', 'BAC', 'CSCO', 'PEP',
    'NFLX', 'XOM', 'COST', 'CVX', 'LMT', 'MCD', 'BA',
    'ORCL', 'ABBV', 'ACN', 'ADBE', 'AIG', 'ALL',
    'MO', 'AMGN', 'AXP', 'AFL', 'A', 'APD', 'AKAM', 'ALK',
    'ALB', 'ARE', 'ALGN', 'ALLE',
    'LNT', 'ALL', 'GOOG', 'AMT', 'AME', 'AMGN',
    'APH', 'ADI', 'ANSS', 'AON', 'APA', 'AIV',
    'AAPL', 'AMAT', 'APTV', 'ADM', 'ANET', 'AJG', 'AIZ',
    'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'BKR', 'BAC', 'BK', 'BAX', 'BDX', 'BBY', 'BIO', 'BIIB',
    'BLK', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO',
    'BR', 'BF-B', 'CHRW', 'CDNS', 'CPB', 'COF', 'CAH',
    'KMX', 'CCL', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC',
    'CNP', 'CF', 'SCHW', 'CHTR', 'CVX', 'CMG',
    'CB', 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG',
    'CLX', 'CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA',
    'CMA', 'CAG', 'COP', 'ED', 'STZ', 'COO', 'CPRT',
    'GLW', 'CTVA', 'COST', 'COTY', 'CCI', 'CSX', 'CMI', 'CVS',
    'DHI', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN',
    'DXCM', 'FANG', 'DLR', 'DFS',
    'DG', 'DLTR']

Downloading the Data

In [5]:
# Download stock data
data = yf.download(tickerSymbols, start='2000-01-01', end='2024-01-01')['Adj Close']

[*********************100%%**********************]  145 of 145 completed

Cleaning the Data

In [7]:
data.fillna(method='ffill',axis=0,inplace=True)
data.fillna(method='bfill',axis=0,inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_17204\842395867.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill',axis=0,inplace=True)
C:\Users\Acer\AppData\Local\Temp\ipykernel_17204\842395867.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='bfill',axis=0,inplace=True)

In [10]:
data

Ticker,A,AAPL,ABBV,ACN,ADBE,ADI,ADM,ADP,ADSK,AFL,...,SCHW,STZ,T,TSLA,UNH,V,VZ,WMT,XOM,XRAY
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.613010,0.846127,22.207661,10.887884,16.274672,28.438299,6.413241,24.781528,8.052905,6.918055,...,18.291115,5.534051,6.904026,1.592667,5.400594,12.628544,17.463858,14.469354,18.328705,6.636333
2000-01-04,40.281452,0.774790,22.207661,10.887884,14.909399,26.999615,6.346438,24.781528,7.660817,6.734476,...,18.043938,5.325744,6.500067,1.592667,5.331516,12.628544,16.899336,13.927944,17.977631,6.636333
2000-01-05,37.782810,0.786128,22.207661,10.887884,15.204175,27.393772,6.246232,24.543243,7.178246,6.695825,...,18.167526,5.506278,6.601054,1.592667,5.318958,12.628544,17.463858,13.643702,18.957699,6.751058
2000-01-06,36.344181,0.718098,22.207661,10.887884,15.328290,26.644884,6.279633,24.870878,6.740915,6.831097,...,18.167526,5.721529,6.473155,1.592667,5.513629,12.628544,17.375151,13.792593,19.937757,6.759880
2000-01-07,39.372860,0.752113,22.207661,10.887884,16.072985,27.393772,6.379838,25.436808,7.540174,6.966366,...,19.218033,5.888176,6.528641,1.592667,6.160444,12.628544,17.246855,14.834821,19.879253,6.742232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,139.108368,193.353287,153.473663,353.160400,598.750000,196.175598,70.790520,229.643463,242.759995,80.936958,...,68.305374,237.028549,16.284359,252.539993,518.266907,257.949005,36.868282,52.039433,100.971611,34.908901
2023-12-26,139.347549,192.803986,153.156693,352.144104,598.260010,197.937286,71.711807,231.204437,245.070007,81.205261,...,68.673889,238.134583,16.304037,256.609985,517.988037,258.677643,36.858448,51.959702,101.199486,35.226074
2023-12-27,139.357529,192.903839,153.414230,352.532684,596.080017,198.415039,71.493874,230.279785,245.110001,81.394066,...,68.992607,239.260529,16.313877,261.440002,520.737183,258.448059,36.691269,52.448040,100.723907,35.315281
2023-12-28,139.307693,193.333298,153.285461,350.310791,595.520020,199.300873,71.592934,231.154739,244.910004,81.592804,...,69.271492,241.293243,16.471310,253.179993,522.838928,259.915344,36.868282,52.345058,99.267441,35.414787
2023-12-29,138.804504,192.284637,153.503372,349.633270,596.599976,197.628738,71.543404,231.631973,243.479996,81.980347,...,68.524498,240.884705,16.510668,248.479996,524.402710,259.865448,37.074799,52.371632,99.059380,35.414787

Index all the share prices to a base of 10

In [21]:
indexed_data = data.div(data.iloc[0]).mul(100)

Calculating the profits

In [22]:
daily_profits = indexed_data.diff()

Deleting the first row

In [38]:
Cleaned_Data = daily_profits.drop(index='2000-01-03')

Exporting the data

In [40]:
Cleaned_Data.to_excel("Cleaned_Data.xlsx")